table {border-collapse: collapse;}
table, th, td {border: 1px solid black;}
td, th {padding: 0.3em;}
.highlight {background-color: #800; color: white;}
.is_regex {background-color: #fdd;}


.tag {font-size: smaller; background-color: #ffd; font-family: sans-serif}