table {border-collapse: collapse;}
table, th, td {border: 1px solid black;}
td, th {padding: 0.3em;}


.noborder {border: none;}

.highlight {background-color: #800; color: white;}
.is_regex {background-color: #fdd;}

.brokenness-icon {
	height:16px;
	margin: 0 auto;
}

.tag-add-button {
	padding: 1px;
	border-radius: 4px;
	font-size: smaller;
	width: 16px;
	height: 16px;
}

.tag {
	font-size: smaller;
	background-color: #ffd;
	font-family: sans-serif;
	border: 1px solid black;
	padding: 2px;
	border-radius: 4px;
}

.tag-class-flaky {
	background-color: #fdf;
}

/*
.tag:before {
    content:'🏷️';
}
*/

