body {
	font-family: sans-serif;
}

.deletable {
	cursor: url(images/trash-cursor.png), pointer;
}

.smallish {
	font-size: 70%;
}

.pattern-expression {
	font-family: monospace;
}

.pattern-expression a:link {
	text-decoration: none;
}


.pattern-expression a:hover {
	text-decoration: underline;
}


.pattern-match-highlight {
	background-color: #fcc;
}


table {border-collapse: collapse;}
td, th {padding: 0.3em;}


table.console-lines th, td {
	padding: 0.15em;
        padding-left: 0.3em;
        padding-right: 0.3em;
	vertical-align: top;
	color: #445870;
}


.hidden-preloaded-log-line {display: none;}


table.console-lines td:first-child {
    color: #aaa;
    font-family: monospace;
    border-right-width: 2px !important;
    border-right-color: #86e159 !important;
    border-right-style: solid !important;
}




.noborder {border: none;}

.highlight {background-color: #800; color: white;}
.is_regex {background-color: #fdd;}

.brokenness-icon {
	height:16px;
	margin: 0 auto;
}

.tag-add-button {
	padding: 1px;
	border-radius: 4px;
	font-size: smaller;
	width: 16px;
	height: 16px;
}

.tag {
	font-size: smaller;
	background-color: #ffd;
	font-family: sans-serif;
	border: 1px solid black;
	padding: 2px;
	border-radius: 4px;
}

.tag-class-flaky {
	background-color: #fdf;
}

/*
.tag:before {
    content:'🏷️';
}
*/
