body {
	font-family: sans-serif;
}


.pattern-expression {
	font-family: monospace;
}

.pattern-expression a:link {
	text-decoration: none;
}


.pattern-expression a:hover {
	text-decoration: underline;
}


.pattern-match-highlight {
	background-color: #fcc;
}


table {border-collapse: collapse;}
td, th {padding: 0.3em;}

table.codelines th, td {padding: 0.1em; vertical-align: top;}
.line-number {background-color: #eef}

.noborder {border: none;}

.highlight {background-color: #800; color: white;}
.is_regex {background-color: #fdd;}

.brokenness-icon {
	height:16px;
	margin: 0 auto;
}

.tag-add-button {
	padding: 1px;
	border-radius: 4px;
	font-size: smaller;
	width: 16px;
	height: 16px;
}

.tag {
	font-size: smaller;
	background-color: #ffd;
	font-family: sans-serif;
	border: 1px solid black;
	padding: 2px;
	border-radius: 4px;
}

.tag-class-flaky {
	background-color: #fdf;
}

/*
.tag:before {
    content:'🏷️';
}
*/
